.git
.github
.data
docs
.DS_Store
README.md
justfile
docker-compose*.yaml

koreaderPlugins/sakeUpdater.koplugin

sake/.env
sake/.env.*
!sake/.npmrc
sake/.DS_Store
sake/node_modules
sake/build
sake/.svelte-kit
sake/tests
sake/README.md
